<nav class="navigation-buttons">
	<div class="navigation-buttons--button" [routerLink]="['/home']" [routerLinkActive]="'active'">
		<i class="fas fa-user"></i>
		Contacts
	</div>
	<div class="navigation-buttons--button" [routerLink]="['/groups']" [routerLinkActive]="'active'">
		<i class="fas fa-users"></i>
		Groups
	</div>
	<div class="navigation-buttons--button">
		<i class="far fa-calendar-check"></i>
		Tasks
	</div>
	<div class="navigation-buttons--button">
		<i class="fas fa-history"></i>
		History
	</div>
	<div class="navigation-buttons--button">
		<i class="far fa-calendar-alt"></i>
		Calendar
	</div>
	<div class="navigation-buttons--button">
		<i class="fas fa-chart-bar"></i>
		Analysis
	</div>
	<div class="navigation-buttons--divider"></div>
	<div class="navigation-buttons--button navigation-buttons--button__last">
		<i class="fas fa-sync-alt"></i>
		Gift Input
	</div>
	<div class="navigation-buttons--button">
		<i class="far fa-map"></i>
		Map
	</div>
	<div class="navigation-buttons--button navigation-buttons--button__bottom">
		<i class="far fa-smile"></i>
		Community
	</div>
</nav>
<router-outlet></router-outlet>
