$dark-green: #056643;
$gray: #e1e1e1;
$nav-width: 75px;
$nav-button-width: $nav-width - 18px;
$left-column-width: 210px;
$sick-yellow: #ffffe5;

:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.navigation-buttons {
  background-color: $dark-green;
  width: $nav-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid white;
}

.navigation-buttons--button {
  background-color: $gray;
  width: $nav-button-width;
  height: 40px;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  cursor: default;

  &:hover {
    background-color: #e5f1fb;
  }

  i {
    font-size: 16px;
    line-height: 24px;
    display: block;
  }
}

.navigation-buttons--button__last {
  margin-bottom: auto;
}

.navigation-buttons--button__bottom {
  margin-bottom: 10px;
}

.navigation-buttons--divider {
  height: 0;
  width: $nav-button-width;
  border: 1px solid white;
  margin-top: 10px;
}

.main-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  background-color: $gray;
  display: grid;
  grid-template-columns: $left-column-width 1fr;
  grid-template-rows: 5% 95%;
  gap: 0;
}

.header {
  background-color: $dark-green;
  grid-column: span 2;
  display: flex;
  align-items: center;
}

.header--title {
  font-size: 1.25em;
  color: white;
  font-weight: bolder;
  margin-left: 15px;
  width: $left-column-width - 15px;
}

.header--title__text {
  padding-left: 10px;
}

.header--button {
  background-color: $gray;
  padding: 5px 15px;
  font-size: .75em;
  margin-right: 15px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: .75em;
  line-height: 1.5em;

  input {
    width: 100%;
    background-color: $sick-yellow;
  }
}

.side-panel--grow {
  flex-grow: 1;
  background-color: $sick-yellow;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  background-color: $dark-green;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content--title {
  display: flex;
  align-items: stretch;
  height: 15%;
  background-color: $gray;
}

.content--title__picture {
  flex-grow: 2;
  background-color: red;
}

.content--title__info {
  flex-grow: 3;
}

.content--title__gifts {
  flex-grow: 2;
}
