<div class="main-content">
	<div class="header">
		<div class="header--title">
			<i class="fas fa-user"></i>
			<span class="header--title__text">Contacts</span>
		</div>
		<div class="header--buttons">
			<div class="header--button" (click)="addContact()">
				<i class="fas fa-plus"></i>
				New Contact
			</div>
		</div>
		<div class="header--buttons">
			<div class="header--button">
				<i class="fas fa-pencil-alt"></i>
				Edit Contact
			</div>
		</div>
	</div>
	<div class="side-panel">
		<div>Current Lookup (1 filter)</div>
		<div><input /></div>
		<div>Current Group (1166 contacts)</div>
		<div class="side-panel--grow">
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
			<div>Test</div>
		</div>
	</div>
	<div class="content">
		<div class="content--title">
			<div class="content--title__picture"></div>
			<div class="content--title__info"></div>
			<div class="content--title__gifts"></div>
		</div>
	</div>
</div>